<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">{{ closeButtonText }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map" #map style="display: none;"></div>
  <vo-ui-osm-view 
[showDebugInfo]="true"
[showControlsZoom]="true"
[showControlsCurrentLocation]="selectable"
(addressChanged)="onAddressChange($event)"
[longitudePointer]="center.lng"
[latitudePointer]="center.lat"
>
</vo-ui-osm-view>
</ion-content>
